body{
    background-color:rgb(255, 162, 178);
    font-family: 'Vidaloka', serif;
}

#geo-map{
    width: 400px;
    height: 500px;
}

#footer{
    background-color: rgb(114, 114, 114);
}

#navbarNav {
    justify-content: flex-end;
}

.pagetitle{
    line-height: 20px;
    margin-bottom: 20px;
}

.aboutUs {
    background-color: beige;
}